<!--Property Detail-->

<ion-header>
  <ion-toolbar>
    <!--Back to all properties-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/propiedades"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ properties.id_prop}}</ion-title>

    <!--Delete a property-->
    <ion-buttons slot="primary">
      <ion-button (click)="deletePropiedad()" class="button1">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Details-->
<ion-content padding>
  <br>
  <div padding> <strong>Nombre:</strong>
    <br>
    {{properties.prop_name}}
  </div>
  <br>
  <div padding><strong>Ubicación:</strong>
    <br>
    {{properties.prop_ubi}}
  </div>
  <br>
  <div padding> <strong>Tipo de propiedad:</strong>
    <br>
    {{properties.prop_type}}
  </div>
  <br>
  <div padding> <strong>Cantidad de personas:</strong>
    <br>
    {{properties.prop_people}}
  </div>
  <br>
  <div padding> <strong>¿Acepta mascotas?</strong>
    <br>
    {{properties.pets}}
  </div>
  <br>

  <!--Book button-->
  <ion-button (click)="reservar()" class="button2">
    <ion-icon name="alarm-outline"></ion-icon>
    ¡Reservar!
  </ion-button>
  
</ion-content>