//Property detail page style

ion-title{
    color:  #FB8B24;
    font-size: large;
}

ion-content{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier;
}

ion-back-button{
    --color: #9A031E;
}

//delete button
.button1{
    --color: #9A031E;
}

//book button
.button2{
    --background: #0F4C5C;
    font-family: 'Courier New', Courier, monospace;
}