ion-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #0F4C5C;
    text-align: center;
}

ion-back-button{
    --color: #FB8B24;
}

ion-content{
    font-family: 'Courier New', Courier;
    font-size: medium;
    text-align: center;
}

.button1{
    --color: white;
    --background: #9A031E; 
}

.button2{
    --color: white;
    --background: #E36414;
}

.button3{
    --color: white;
    --background: #FB8B24;
}

.button4{
    --color: white;
    --background: #0F4C5C;
}
