ion-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #0F4C5C;
    text-align: center;
}

ion-back-button{
    --color: #FB8B24;
}

ion-content{
    font-family: 'Courier New', Courier;
    font-size: medium;
    text-align: center;
}

ion-select{
    font-family: 'Courier New', Courier;
    font-size: larger;
}

