//Edit property page styles

ion-title{
    color:  #0F4C5C;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

ion-back-button{
    font-family: 'Courier New', Courier, monospace;
    --color: #FB8B24;
}

ion-button{
    --color:  #FB8B24;
}

ion-item{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

