<ion-header>
  <ion-toolbar>
    <ion-title>
      F&A Reservaciones
    </ion-title>

    <!--Back to home button-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!--Add button-->
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]" clear class="button1">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Search by filter-->
<ion-button (click)="buscar()" clear class="button2">
  <ion-icon name="search-outline"></ion-icon>
  Buscar
</ion-button>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let properties of properties">
      <br>
      <img src="assets/img/prop.jpeg" height="100" width="100" />

      <!--Properties preview-->
      <ion-card-content>
        <ion-card-title>
          {{ properties.prop_name}}
        </ion-card-title>
        <ion-card-subtitle>
          {{ properties.prop_ubi}}
        </ion-card-subtitle>
      </ion-card-content>

      <!--Detail button-->
      <ion-button (click)="viewDetails(properties.id_prop)" class="button3">
        <ion-icon name="eye-outline"></ion-icon>
        Detalles
      </ion-button>

      <!--Edit property button-->
      <ion-button outline (click)="update(properties.id_prop)" class="button4">
        <ion-icon name="create-outline"></ion-icon>
        Editar
      </ion-button>
    </ion-card>
  </div>
</ion-content>