//properties style

ion-title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: large;
}

ion-card{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    border-style: dashed;
    border-color:  #9A031E;
}

ion-back-button{
    font-family: 'Courier New', Courier;
    font-size: small;
    --color: #FB8B24;
}

//add button
.button1{
    --color: #9A031E;
}

//search button
.button2{
    --background: #0F4C5C;
}

//detail button
.button3{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    --background: #FB8B24;
    --color: #0F4C5C;
}

//edit button
.button4{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    --background: #FB8B24;
    --color: #0F4C5C;
}