//Add games page styles

ion-title{
    color:  #80ffdb;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

ion-back-button{
    font-family: 'Courier New', Courier, monospace;
    --color: #6a040f;
}

ion-button{
    --color:  #6a040f;
}

ion-item{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

