//Add properties page styles

ion-title{
    color:  #E36414;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

ion-back-button{
    font-family: 'Courier New', Courier, monospace;
    --color: #0F4C5C;
}

ion-button{
    --color:  #0F4C5C;
}

ion-item{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

