<!--Add Game Form-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/propiedades"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Añadir propiedad
    </ion-title>
    <ion-buttons slot="primary">
      <!--Add game-->
      <ion-button (click)="addPropiedad()" [disabled]="!formPropiedadAdd.valid">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Add game form-->
<ion-content>
  <form [formGroup]="formPropiedadAdd">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id Propiedad:</ion-label>
            <ion-input type="number" formControlName="id_prop"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="prop_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">ubicacion:</ion-label>
            <ion-input type="text" formControlName="prop_ubi"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">personas:</ion-label>
            <ion-input type="text" formControlName="prop_people"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">tipo:</ion-label>
            <ion-input type="text" formControlName="prop_type"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Mascotas:</ion-label>
            <ion-input type="text" formControlName="pets"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>