.cont {
  text-align: center;
  --background: none;
  background-image: url('/assets/img/home.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button1{
  font-size: large;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  --background: #FB8B24;
  --color: white;
}

